{%extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load tz %}
{% block title %}
Post
{% endblock title %}


{% block content %}
    <h1>{{ post.article_default_news }}</h1>
    <h5>Заголовок: {{ post.headline }}</h5><br />
    <h7>Дата публикации: {{ post.create_time|date:'M d Y h:m' }}</h7><br />
    <h7>Текст:</h7><br />
        {{ post.text|censor }}<br />
    <h7>Автор: {{ post.author }}     Рейтинг: {{ post.author.update_rating }}</h7><br />
    {% for tag in post_categories %}
    {{ tag.tag }}
    {% if tag not in user_categories %}
<button> <a href="{% url 'subscribe' tag.id  %}">подписаться!</a> </button>
        <br>
        {% else %}
        <h7> - Уже подписаны</h7>
        <button> <a href="{% url 'unsubscribe' tag.id  %}">отписаться?</a> </button><br>
{% endif %}
    {% endfor %}
    <h7>Рейтинг статьи: {{ rating }}</h7><br><br>
    {%  if user not in likers and user not in dislikers %}
        <form method="post">{% csrf_token %}
    <button type="submit" class="save" name="like" value="True">Like</button>
    <button type="submit" class="save" name="dislike" value="True">Dislike</button>
    </form>

    {% elif user in likers %}
        <h7>Вам понравилась статья</h7><br>
    {% else %}
        <h7>Вам не понравилась статья</h7><br>
    {% endif %}
    <h5>Комментарии:</h5>
    {% for com in comments %}
    {{ com.comment_user }}: {{ com.com_text }}<br>
        {{ com.com_time }}<br>

        <h7>Оценка:  </h7>{{ com.com_rating }}<br>
        <button> <a href="{% url 'like_comment' com.id  %}">лайкнуть</a> </button>
        <button> <a href="{% url 'dislike_comment' com.id  %}">дислайкнуть</a> </button><br>
    {% endfor %}
    <br>
    <button> <a href="{% url 'add_comment' post.id  %}">Добавить комментарий</a> </button>

{% endblock content %}

